@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Poppins', sans-serif;
  --radius: 0.5rem;
  --sb-track-color: #262626;
  --sb-thumb-color: #6d6d6d;
  --sb-size: 17px;
}



body {
  --sb-track-color: #545454;
  --sb-thumb-color: #262626;
  --sb-size: 15px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;
  border: 1px solid #545454;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

.main-content {
  margin-left: 16px; /* Sesuaikan dengan lebar sidebar saat tertutup */
  transition: margin-left 0.5s ease-in-out;
}

.sidebar-open .main-content {
  margin-left: 240px; /* Sesuaikan dengan lebar sidebar saat terbuka */
}

.ellipsis-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Batasi teks menjadi 2 baris */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Tambahkan elipsis (...) */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@-ms-keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.slide-in-right {
  animation: slideInFromRight 0.5s ease-in-out;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}